
.idea/

__pycache__/



abc.txt

google_credentials.json

google_output.txt

experiments_google.log

aws_credentials.json

credentials.json

last_run.log

google_credentials_afcl.json

google_credentials_nonfunct.json

google_credentials_old.json

*.png

tst.py

chart.py
